// COLORS
$color-primary: #EA3c53;
$color-primary-light: #A45A52;
$color-primary-dark: #B22222;
$color-white: #ffffffe1;
$color-placeholder: #ccc5c5;
$color-modal: whitesmoke;
$color-cough-mixture: #f6f4f1;
$color-black: #333;
$color-grey-dark: #777;

//FONTS
$main-font: 'Josefin Sans', sans-serif;